* {
  box-sizing: border-box;
}
body {
  background-color: black;
}
.swiper-slide {
  text-align: center;
}
img {
  height: 600px;
}
.swiper-button-next, .swiper-button-prev {
  outline: none;
}
:root {
  --swiper-theme-color: silver;
}