* {
  box-sizing: border-box;
}
body {
  background-color: black;
}
.gallery-img {
  display: none;
  max-height: 600px;
}
.active {
  display: block;
  box-shadow: 0px 0px 10px 0px red;
}
.image-gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  background-color: black;
  color: white;
  font-size: 17px;
  padding: 7px 30px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0px 0px 4px 0px red;
  margin-top: 1.1rem;
  outline: none;
}
.prev {
  margin-right: 100px;
}
.btn:disabled {
  background-color: rgb(63, 62, 62);
  cursor: not-allowed;
}
.swiper-slide {
  text-align: center;
}
img {
  height: 600px;
}
.swiper-button-next {
  outline: none;
}
:root {
  --swiper-theme-color: silver;
}